@model MovieSession

<div class="col">
    <div class="card h-100 shadow-sm">
        <div class="card-body">

            <h5 class="card-title text-primary">@Model.Movie?.Title</h5>

            <p class="card-text">
                <strong>Жанр:</strong> @Model.Movie?.Genre <br />
                <strong>Зал:</strong> @Model.Hall?.Name
            </p>
            <p class="card-text">
                <strong>Час:</strong> @Model.SessionTime.ToString("g")
            </p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between align-items-center">
            <h5 class="card-title text-success mb-0">
                @Model.Price.ToString("c", System.Globalization.CultureInfo.GetCultureInfo("uk-UA"))
            </h5>

            <a asp-controller="Booking"
               asp-action="SelectSeats"
               asp-route-movieSessionID="@Model.MovieSessionID"
               class="btn btn-warning btn-sm pull-right">
                Обрати
            </a>

        </div>
    </div>
</div>